@model IEnumerable<CostEstimationApp.Models.Tool>

@{
    ViewData["Title"] = "Index";
}

<h1>Narzędzia</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Stwórz Nowy</a>
    <a class="btn btn-secondary" asp-controller="ToolMaterials" asp-action="Index">Materiał Narzędzia >></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
@*                 @Html.DisplayNameFor(model => model.Name)
 *@                Nazwa
            </th>
            <th>
                    @*@Html.DisplayNameFor(model => model.Price)*@
                    Cena
           </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.AmountOfEdges)
 *@             Ilość krawędzi   
            </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.VitalityPerEdge)
 *@         Żywotność na krawędź [h]
            </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.CostPerHour)
 *@         
            Koszt [pln/h]
            </th>
            <th>
@*                 @Html.DisplayNameFor(model => model.ToolMaterial)
 *@    
            Materiał narzędzia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfEdges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VitalityPerEdge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToolMaterial.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
