@model IEnumerable<CostEstimationApp.Models.OperationSet>

@{
    ViewData["Title"] = "Index";
}

<h1>Proces</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Stwórz Nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
@*                 @Html.DisplayNameFor(model => model.FirstOrDefault().Projekt.Name) *@
                Nazwa projektu
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().Name) *@
                Nazwa
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().Operations) *@
                Przypisane operacje
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().MachineCost) *@
                Koszt maszyny
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().ToolCost) *@
                Koszt narzędzia
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().WorkerCost) *@
                Koszt pracownika
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.FirstOrDefault().TotalCost) *@
                Całkowity koszt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Projekt.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @string.Join(", ", item.Operations.Select(ot => ot.Name))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToolCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkerCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Select" asp-route-id="@item.Id">Wybierz</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-secondary" asp-controller="Przedmiots" asp-action="Index">Powrót do Cech <<</a>
<a class="btn btn-success" asp-controller="Projekts" asp-action="Index">Zaakceptuj </a>
