@model IEnumerable<CostEstimationApp.Models.MRR>

@{
    ViewData["Title"] = "Index";
}

<h1>MRR</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Stwórz Nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Material) *@
                Materiał półfabrykatu
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.ToolMaterial) *@
                Materiał narzędzia
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Rate) *@
                MRR [cm3/min]
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.RateFinish) *@
                MRR Wykańczający [cm3/min]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Material.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToolMaterial.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateFinish)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
