@model IEnumerable<CostEstimationApp.Models.Machine>

@{
    ViewData["Title"] = "Machines";
}

<h1>Machines</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nazwa Maszyny@*@Html.DisplayNameFor(model => model.Name) *@</th>
            <th>Maszynogodzina [pln/h]@* @Html.DisplayNameFor(model => model.CostPerHour) *@</th>
            <th>Typ Maszyny@* @Html.DisplayNameFor(model => model.MachineType.Typeof) *@</th>
            <th>Pracownik@* @Html.DisplayNameFor(model => model.Worker.Name) *@</th>
            <th>Operation Types</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.CostPerHour)</td>
                <td>@Html.DisplayFor(modelItem => item.MachineType.Typeof)</td>
                <td>@Html.DisplayFor(modelItem => item.Worker.Name)</td>
                <td>
                    @foreach (var operationType in item.OperationTypes)
                    {
                        @operationType.Name <br />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
