@model IEnumerable<CostEstimationApp.Models.SemiFinishedProduct>

@{
    ViewData["Title"] = "Index";
}

<h1>Półfabrykaty</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Stwórz Nowy</a>
    <a class="btn btn-secondary" asp-controller="Materials" asp-action="Index">Materiały >></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Material) *@
                Nazwa Materiału
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.DimensionX) *@
                Długość
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.DimensionY) *@
                Szerokość
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.DimensionZ) *@
                Wysokość
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Volume) *@      
            Objętość [mm^3]
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Price) *@
            Koszt [pln]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Material.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimensionX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimensionY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimensionZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-secondary" asp-controller="Projekts" asp-action="Index">Projekty <<</a>
