@model Proces

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proces</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreparationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreparationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Worker.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
