@model Przedmiot

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>
<a class="btn btn-secondary" asp-controller="Przedmiots" asp-action="Index">Powrót<<</a>
<div>
    @* <h4>Przedmiot</h4> *@
    <hr />
    <dl class="row">
        <dt class="col-sm-3 mt-3">
            Nazwa
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-3 mt-3">
            @Html.DisplayNameFor(model => model.Projekt)
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.Projekt.Id)
        </dd>

        <dt class="col-sm-3 mt-3">
            Cecha
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.Feature.Name)
        </dd>

        <dt class="col-sm-3 mt-3">
            Objętość do usunięcia [mm3]
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.VolumeToRemove)
        </dd>

        <dt class="col-sm-3 mt-3">
            Objętość do usunięcia wykańczająco [mm3]
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.VolumeToRemoveFinish)
        </dd>

        <dt class="col-sm-3 mt-3">
            Klasa dokładności
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.AccuracyClass.Name)
        </dd>

        <dt class="col-sm-3 mt-3">
            Średnica wiercenia
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.DrillDiameter)
        </dd>

        <dt class="col-sm-3 mt-3">
            Głębokość wiercenie zgrubnie
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.DrillDepth)
        </dd>

        <dt class="col-sm-3 mt-3">
            Głębokość wiercenie wykańczająco
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.DrillingDepthFinish)
        </dd>

        <dt class="col-sm-3 mt-3">
            Pogłębianie walcowe głębokość
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.ReamingDepth)
        </dd>

        <dt class="col-sm-3 mt-3">
            Ilość otworów
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.DrillApplicationCount)
        </dd>

        <dt class="col-sm-3 mt-3">
            Głębokość skrawania zgrubnie
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.FaceMillingDepth)
        </dd>

        <dt class="col-sm-3 mt-3">
            Głębokość skrawania wykańczająco
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.FinishingMillingDepth)
        </dd>

        <dt class="col-sm-3 mt-3">
            Długość kieszeni
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.PocketLength)
        </dd>

        <dt class="col-sm-3 mt-3">
            Szerokość kieszeni
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.PocketWidth)
        </dd>

        <dt class="col-sm-3 mt-3">
            Głębokość kieszeni
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.PocketDepth)
        </dd>

        <dt class="col-sm-3 mt-3">
            Głębokość kieszeni wykańczająco
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.AddFinishingOperation)
        </dd>

        <dt class="col-sm-3 mt-3">
            Wysokość rowka
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.SlotHeight)
        </dd>

        <dt class="col-sm-3 mt-3">
            Wysokość rowka wykańczająco
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.SlotHeightFinish)
        </dd>

        <dt class="col-sm-3 mt-3">
            Dłuższa krawędź rowka
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.SlotPlane)
        </dd>

        <dt class="col-sm-3 mt-3">
            Ilość rowków
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.SlotApplicationCount)
        </dd>

        <dt class="col-sm-3 mt-3">
            Wysokość uskoku
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.StepHeight)
        </dd>

        <dt class="col-sm-3 mt-3">
            Wysokość uskoku wykańczająco
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.StepHeightFinish)
        </dd>

        <dt class="col-sm-3 mt-3">
            Szerokość uskoku
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.StepWidth)
        </dd>

        <dt class="col-sm-3 mt-3">
            Dłuższa krawędź uskoku
        </dt>
        <dd class="col-sm-9 mt-3">
            @Html.DisplayFor(model => model.StepPlane)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
