@model Przedmiot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Przedmiot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projekt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projekt.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feature.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccuracyClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccuracyClass)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinishingAccuracyClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinishingAccuracyClass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinishingSurfaceRoughness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinishingSurfaceRoughness)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrillDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrillDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrillDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrillDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrillApplicationCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrillApplicationCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceMillingDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceMillingDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishingMillingDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishingMillingDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PocketLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PocketLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PocketWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PocketWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PocketDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PocketDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddFinishingOperation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddFinishingOperation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotPlane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotPlane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotApplicationCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotApplicationCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
