@model CostEstimationApp.Models.Operation

@{
    ViewData["Title"] = "Operation Details";
}

<h1>Operation Details</h1>

<div>
    <h4>Operation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SemiFinishedProduct)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SemiFinishedProduct.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Machine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Machine.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tool.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OperationType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OperationType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
