@model CostEstimationApp.Models.Operation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Operation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemiFinishedProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemiFinishedProduct.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Machine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Machine.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Worker.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tool.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MRR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MRR.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuttingLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuttingLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuttingWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuttingWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuttingDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuttingDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrillDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrillDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrillDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrillDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LengthBeforeOperation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LengthBeforeOperation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidthBeforeOperation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WidthBeforeOperation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeightBeforeOperation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeightBeforeOperation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LengthAfterOperation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LengthAfterOperation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidthAfterOperation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WidthAfterOperation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeightAfterOperation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeightAfterOperation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
