@model IEnumerable<CostEstimationApp.Models.Operation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SemiFinishedProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Machine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MRR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuttingLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuttingWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuttingDepth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrillDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrillDepth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthBeforeOperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WidthBeforeOperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeightBeforeOperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthAfterOperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WidthAfterOperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeightAfterOperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolumeToRemove)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachiningTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SemiFinishedProduct.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Machine.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Worker.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tool.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MRR.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuttingLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuttingWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuttingDepth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrillDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrillDepth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthBeforeOperation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WidthBeforeOperation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeightBeforeOperation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthAfterOperation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WidthAfterOperation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeightAfterOperation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolumeToRemove)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachiningTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
