@model IEnumerable<CostEstimationApp.Models.Operation>

@{
    ViewData["Title"] = "Operations Index";
}

<h1>Operations Index</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
@*          <th>@Html.DisplayNameFor(model => model.SemiFinishedProduct)</th>
 *@         <th>@Html.DisplayNameFor(model => model.Machine)</th>
            <th>@Html.DisplayNameFor(model => model.Tool)</th>
            <th>@Html.DisplayNameFor(model => model.SetUpTime)</th>
            <th>@Html.DisplayNameFor(model => model.OperationType)</th>
            <th>@Html.DisplayNameFor(model => model.MachiningTime)</th>
            <th>@Html.DisplayNameFor(model => model.TotalCost)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
@*                 <td>@Html.DisplayFor(modelItem => item.SemiFinishedProduct.Id)</td>
 *@             <td>@Html.DisplayFor(modelItem => item.Machine.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Tool.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.SetUpTime)</td>
                <td>@Html.DisplayFor(modelItem => item.OperationType.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.MachiningTime)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalCost)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="OperationSets" asp-action="Index">Powrót do listy operacji</a>
</li>
